.home__content__recent-estates {
  &__list {
    max-height: 360px;
    padding: 0 40px;
    list-style-type: none;
    display: grid;
    max-width: 1260px;

    &-item {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-self: center;
      height: 40px;
      &__border-bottom {
        margin-left: 58px;
        max-width: 1024px;
        border-bottom: 1px solid grey;
      }
      span {
        justify-self: center;
        align-self: center;
      }
    }
    &-item:first-child {
      font-weight: bold;
      align-self: center;
    }
  }
}
