.configure-estate-container {
  background-image: linear-gradient(to bottom right, #009999, #ccffff);
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  .packages-list-container {
    width: 30%;
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    .packages-list {
      margin-left: 50px;
      list-style-type: none;
      .package-list-item {
        margin-top: 20px;
        transition: transform 0.2s;
      }
      .package-list-item:hover {
        // width: fit-content;
        transform: scale(1.2);
        // box-shadow: 0 0 2px grey;
        cursor: pointer;
      }
    }
  }
  .packages-list-container::-webkit-scrollbar {
    width: 12px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .packages-list-container::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 5px;
    background-color: grey;
    transition: transform 0.2s;
  }
  //   .packages-list-container::-webkit-scrollbar-thumb:hover {
  //     cursor: pointer;
  //     transform: scale(1.5);
  //   }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }
  .version-list-container {
    width: 30%;
  }
  .selected-packages-container {
    width: 30%;
  }
}
