.configure-estate-container {
  background-image: linear-gradient(to bottom right, #009999, #ccffff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .packages-list-container {
      width: 30%;
      height: 550px;
      overflow-y: auto;
      overflow-x: hidden;
      .packages-list {
        margin-left: 50px;
        list-style-type: none;
        .package-list-item {
          height: 40px;
          padding: 10px;
          border-bottom: 1px solid grey;
          margin-top: 20px;
          transition: transform 0.2s;
        }
        .package-list-item:hover {
          font-weight: bold;
          transform: scale(1.2);
          cursor: pointer;
        }
      }
    }
    .packages-list-container::-webkit-scrollbar {
      width: 12px;
      border: 1px solid grey;
      border-radius: 5px;
    }
    .packages-list-container::-webkit-scrollbar-thumb {
      height: 25px;
      border-radius: 5px;
      background-color: grey;
    }
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 5px;
    }
    .version-list-container {
      width: 30%;
    }
    .selected-packages-container {
      width: 30%;
    }
  }
}
